*.txt
*.md
*.pyc
*.json
*.csv
*.rst
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
geckodriver.log
.idea/test.iml
.idea/vcs.xml
venv/.DS_Store
.DS_Store
.idea/inspectionProfiles/Project_Default.xml
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/lastfailed
fixture/.pytest_cache/v/cache/lastfailed
fixture/.pytest_cache/v/cache/nodeids
test/.pytest_cache/v/cache/lastfailed
test/.pytest_cache/v/cache/nodeids
allure-report/*
venv2/*
venv/*
test/reports/*
venv/lib/python3.6/site-packages/allure/__init__.py
venv/lib/python3.6/site-packages/allure/adaptor.py
venv/lib/python3.6/site-packages/allure/common.py
venv/lib/python3.6/site-packages/allure/constants.py
venv/lib/python3.6/site-packages/allure/pytest_plugin.py
venv/lib/python3.6/site-packages/allure/rules.py
venv/lib/python3.6/site-packages/allure/structure.py
venv/lib/python3.6/site-packages/allure/utils.py
venv/lib/python3.6/site-packages/pytest_allure_adaptor-1.7.10.dist-info/DESCRIPTION.rst
venv/lib/python3.6/site-packages/pytest_allure_adaptor-1.7.10.dist-info/INSTALLER
venv/lib/python3.6/site-packages/pytest_allure_adaptor-1.7.10.dist-info/METADATA
venv/lib/python3.6/site-packages/pytest_allure_adaptor-1.7.10.dist-info/metadata.json
venv/lib/python3.6/site-packages/pytest_allure_adaptor-1.7.10.dist-info/RECORD
venv/lib/python3.6/site-packages/pytest_allure_adaptor-1.7.10.dist-info/WHEEL
venv/pip-selfcheck.json
