*.txt
*.md
*.pyc
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
geckodriver.log
.idea/test.iml
.idea/vcs.xml
venv/.DS_Store
.DS_Store
.idea/inspectionProfiles/Project_Default.xml
.pytest_cache/v/cache/nodeids
.pytest_cache/v/cache/lastfailed
fixture/.pytest_cache/v/cache/lastfailed
fixture/.pytest_cache/v/cache/nodeids
test/.pytest_cache/v/cache/lastfailed
test/.pytest_cache/v/cache/nodeids
allure-report/*

